<p>
  <label for="timesheet[billable][]" class="select_all">
    <%= l(:overhead_field_billable) %>
  </label>
  <br />
  <%= select_tag('timesheet[billable][]',
                 options_for_select(billable_values, selected_values),
                 {:multiple => true, :size => list_size}) %>

</p>
